<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicj.account.dao.account.TblAccountMapper">
  <resultMap id="BaseResultMap" type="com.yicj.account.domain.entity.account.TblAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
  </resultMap>
</mapper>